/* src/App.css */
/* Optional: A nice scrollbar for dark mode */

.dark ::-webkit-scrollbar {
  width: 10px;
}
.dark ::-webkit-scrollbar-track {
  background: #1f2937;
}
.dark ::-webkit-scrollbar-thumb {
  background: #4b5563;
  border-radius: 5px;
}
.dark ::-webkit-scrollbar-thumb:hover {
  background: #6b7280;
}